/Matérias/2_Semestre/Técnica de Programação I - Alexandre/Aula_3_16-02/fundamentos/target/
/Matérias/2_Semestre/Técnica de Programação I - Alexandre/Aula_4_23-02/Fundamentos/target/
/Matérias/2_Semestre/Técnica de Programação I - Alexandre/Aula_5_28-02/Comparacao/target/
/Matérias/2_Semestre/Técnica de Programação I - Alexandre/Aula_6_02-03/Ex02--Ex01_em_folha/target/
