/2_Semestre/Técnica de Programação I - Alexandre/Tarefas/Tarefa_24_03_7_Exercicios/target/
/2_Semestre/Técnica de Programação I - Alexandre/Tarefas/Tarefa_7_Exercicios_29-03/target/
/2_Semestre/Técnica de Programação I - Alexandre/Tarefas/Prova_1_Bimestre/target/
