*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgb(172, 222, 255);
    border-bottom: 2px coral solid;
    box-shadow: 10px 50px 4px;
}

#logo{
    width: 60%;
}

#logo > img{
    max-width: 400px;
}

ul{
    width: 25%;
    justify-content: space-around;
    display: flex;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 1vw;
    color: black;
    
}
