<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Aula 05</title>
</head>
<body>
    <div id="app" class="app">
        <div class="testeSpan">
            <span v-if="testeSpan">Funcionou nosso exemplo</span>
            <br>
            <button @click="handleTest">Teste</button>
        </div>
        <div class="lampada">
            <button @click="toggleLampada">{{ isLampadaLigada ? 'Desligar' : 'Ligar' }}</button>
            <br>
            <img v-if="isLampadaLigada" src="./On.png" alt="Lâmpada Ligada">
            <img v-else="isLampadaLigada" src="./Off.png" alt="Lâmpada Desligada">
        </div>
    </div>
    <script src="index.js"></script>
</body>
</html>