button {
    border-radius: 20px;
    border: none;
    padding: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

button:hover{
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

button:active {
    transform: translateY(0px);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}