.secao{
    display: flex;
    flex-wrap: wrap;
    max-width: 50%;
    margin: 0 auto;
    align-items: center;

}

.secao > div{
    flex: 1 1 200px;
    margin: 10px;
}

div > img{
    max-width: 100%;
    border-radius: 20px;
}

h1{
    text-align: center;
    margin-top: 150px;
    margin-bottom: 30px;
    font-size: 25px;
}